@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html,body{
  max-width: 100%;
  margin: 0%!important;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #062018;

  color: #F8F8F8;
  font-family: 'Poppins', sans-serif;
}

body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  grid-template-rows: (auto);
  grid-template-areas:
    "header1"
    "header2"
    "sectinfo"
    "sectequip"
    "sectingre1"
    "sectingre2"
    "mainsteps"
    "mainzoom";
}

header:nth-of-type(1) {
  grid-area: header1;
  text-align: center;
  justify-content: center;
}

.header_text {
padding: 2% 5% 2% 5%;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 4em;
    letter-spacing: 0.05em;
  }

h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.3em;
    padding: 0 5% 0 5%;
  }

h6{
    font-style: normal;
    font-weight: normal;
    font-size: 0.9em;
  }

.lemon_icons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 2% 0% 2% 0%;
  }

/*HEADER IMAGE*/
header:nth-of-type(2) {
  grid-area: header2;
}

header img {
  object-fit: cover;
  width: 100%;
}

/*INFO*/
section:nth-of-type(1) {
  grid-area: sectinfo;
}

/* Subhead */
h5.subhead {
font-family: 'Poppins', bold;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
margin: .5em 0;
}
/* Body */
p {
font-style: normal;
font-weight: normal;
font-size: 1.4em;
line-height: 1.5em;
}

.boxes {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 1.4em 0 1.4em 1em;
}

.box {
  width: 20%;
  text-align:center;
  margin-right: 1em;
}

hr.horizontal {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid rgba(29, 57, 48, 1);
    margin: 1em 0;
    padding: 0;
    width: 100%;
}
.vertical-line {
  border-right: 2px solid #16523f;
  height:86px;
}

/* EQUIPMENT*/
section:nth-of-type(2) {
  grid-area: sectequip;
}

.category {
  font-family: 'Abril Fatface', cursive;
  font-style: normal;
  letter-spacing: 0.05em;
  font-size: 2em;
  padding: 0 0.5em;
}

/*SCROLLBAR*/
.wrapper {
  height: 50%%;
  display: flex;
  overflow-x: auto;
  margin: 0 1em;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.wrapper::-webkit-scrollbar-track {
  background: #062018;      /* color of the tracking area */
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: #16523f;/* color of the scroll thumb */
  border-radius: 20px;      /* roundness of the scroll thumb */
  border: 3px solid #062018;/* creates padding around scroll thumb */
}

.wrapper .item {
  min-width: 20%;
  height: 20%;
  line-height: 1.2em;
  text-align: center;
  margin-right: 10px;
}

.item img {
  object-fit: cover;
  width: 100%;
  padding: 10% 0;
}

/*INGREDIENTS*/
section:nth-of-type(3) {
  grid-area: sectingre1;
  background-color: #062018;
}

section:nth-of-type(4) {
  grid-area: sectingre2;
  background-color: #062018;
}

main:nth-of-type(1) {
  grid-area: mainsteps;
  background-color: #062018;
}

main:nth-of-type(2) {
  grid-area: mainzoom;
  background-color: #F8F8F8;
}

/*@media only screen and (max-width: 1024px) {
  body {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 75% 50% 30% 40%;
  grid-template-areas:
    "header1"
    "header2"
    "sectinfo"
    "sectequip"
    "sectingre1"
    "sectingre2"
    "mainsteps"
    "mainzoom";
  }
  .header_text {
  padding: 2% 15% 2% 15%;
  }
  h1 {
    font-size: clamp(6rem, 5.5385rem + 2.0513vw, 8rem);
    letter-spacing: 0.05em;
  }

  h4 {
    font-size: clamp(2.5rem, 2.5000rem + 0.0000vw, 2.5rem);
  }

  h6{
    font-size: clamp(0.7rem, 0.5846rem + 0.5128vw, 1.2rem);
  }

  .lemon_icons {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}*/
