@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html,body{
  max-width: 100%;
  margin: 0%!important;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #062018;

  color: #F8F8F8;
  font-family: 'Poppins', sans-serif;
}

body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  grid-template-rows: (auto);
  grid-template-areas:
    "header1"
    "header2"
    "sectinfo"
    "sectequip"
    "sectingre"
    "mainsteps1"
    "mainzoom1"
    "mainsteps2"
    "mainzoom2"
    "mainsteps3"
    "mainzoom3"
    "mainsteps4"
    "mainzoom4"
    "mainsteps5"
    "mainzoom5"
    "mainsteps6"
    "mainzoom6"
    "mainsteps7"
    "mainzoom7"
    "mainsteps8"
    "mainzoom8"
    "mainsteps9"
    "mainzoom9"
    "mainsteps10"
    "mainzoom10"
    "mainsteps11"
    "mainzoom11"
    "mainsteps12"
    "mainzoom12"
    "mainsteps13"
    "mainzoom13"
    "mainsteps14"
    "mainzoom14"
    "mainsteps15"
    "mainzoom15"
    "mainsteps16"
    "mainzoom16";
}

header:nth-of-type(1) {
  grid-area: header1;
  text-align: center;
  justify-content: center;
}

.header_text {
padding: 2% 5% 2% 5%;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 3em;
    letter-spacing: 0.05em;
  }

h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.4em;
    padding: 0 5% 0 5%;
  }

h6{
    font-style: normal;
    font-weight: normal;
    font-size: 0.9em;
  }

.lemon_icons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 2% 0% 2% 0%;
  }

/*HEADER IMAGE*/
header:nth-of-type(2) {
  grid-area: header2;
}

header img {
  object-fit: cover;
  width: 100%;
}

/*INFO*/
section:nth-of-type(1) {
  grid-area: sectinfo;
  padding: 4em 0 0 0;
}

/* Subhead */
h5 {
font-family: 'Poppins', bold;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
margin: .5em 0;
letter-spacing: 0.05em;
}
/* Body */
p {
font-style: normal;
font-weight: normal;
font-size: 1.4em;
line-height: 1.7em;
}

.boxes {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0;
}

.box {
  width: 20%;
  text-align:center;
}

hr.horizontal {
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #0d3629;
    margin: 1em 0;
    padding: 0;
    width: 100%;
}
.vertical-line {
  border-right: 2px solid #0d3629;
  height:86px;
}

/* EQUIPMENT*/
section:nth-of-type(2) {
  grid-area: sectequip;
}

.categoryequipment {
  font-family: 'Abril Fatface', cursive;
  font-style: normal;
  letter-spacing: 0.05em;
  font-size: 2.5em;
  padding: 2em 0.5em 1.5em 0.5em;
}

/*SCROLLBAR*/
.wrapper {
  height: 50%;
  display: flex;
  overflow-x: auto;
  border-bottom: 2px solid #0d3629;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.wrapper::-webkit-scrollbar-track {
  background: #062018;      /* color of the tracking area */
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: #0d3629;/* color of the scroll thumb */
  border-radius: 20px;      /* roundness of the scroll thumb */
  border: 3px solid #062018;/* creates padding around scroll thumb */
}

.wrapper .item {
  min-width: 20%;
  height: 20%;
  line-height: 1.2em;
  text-align: center;
  margin-right: 10px;
}

.item img {
  object-fit: cover;
  width: 100%;
  padding: 10% 0;
}

/*INGREDIENTS*/
section:nth-of-type(3) {
  grid-area: sectingre;
  background-color: #062018;
}

.categoryingre {
  font-family: 'Abril Fatface', cursive;
  font-style: normal;
  letter-spacing: 0.05em;
  font-size: 2.5em;
  padding: 3.5em 0 1.5em 0.5em;
}

h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.4em;
  line-height: 1.5em;
  padding: 0 0.8em;
}

p {
font-style: normal;
font-weight: normal;
font-size: 1.4em;
line-height: 1.7em;
padding: 0 0.8em;
}

/*DIRECTIONS*/

.categorydirections {
  font-family: 'Abril Fatface', cursive;
  font-style: normal;
  letter-spacing: 0.05em;
  font-size: 2.5em;
  padding: 2em 0.5em 0.5em 0.5em;
  border-top: 2px solid #0d3629;
}

.yellow, .yellowi {
  color: #ffe76e;
}
main:nth-of-type(1) {
  grid-area: mainsteps1;
  background-color: #062018;
}

main:nth-of-type(2) {
  grid-area: mainzoom1;
  background-color: #0d3629;
}

main:nth-of-type(3) {
  grid-area: mainsteps2;
  background-color: #062018;
}

main:nth-of-type(4) {
  grid-area: mainzoom2;
  background-color: #0d3629;
}

main:nth-of-type(5) {
  grid-area: mainsteps3;
  background-color: #062018;
}

main:nth-of-type(6) {
  grid-area: mainzoom3;
  background-color: #0d3629;
}

main:nth-of-type(7) {
  grid-area: mainsteps4;
  background-color: #062018;
}

main:nth-of-type(8) {
  grid-area: mainzoom4;
  background-color: #0d3629;
}

main:nth-of-type(9) {
  grid-area: mainsteps5;
  background-color: #062018;
}

main:nth-of-type(10) {
  grid-area: mainzoom5;
  background-color: #0d3629;
}

main:nth-of-type(11) {
  grid-area: mainsteps6;
  background-color: #062018;
}

main:nth-of-type(12) {
  grid-area: mainzoom6;
  background-color: #0d3629;
}

main:nth-of-type(13) {
  grid-area: mainsteps7;
  background-color: #062018;
}

main:nth-of-type(14) {
  grid-area: mainzoom7;
  background-color: #0d3629;
}

main:nth-of-type(15) {
  grid-area: mainsteps8;
  background-color: #062018;
}

main:nth-of-type(16) {
  grid-area: mainzoom8;
  background-color: #0d3629;
}

main:nth-of-type(17) {
  grid-area: mainsteps9;
  background-color: #062018;
}

main:nth-of-type(18) {
  grid-area: mainzoom9;
  background-color: #0d3629;
}

main:nth-of-type(19) {
  grid-area: mainsteps10;
  background-color: #062018;
}

main:nth-of-type(20) {
  grid-area: mainzoom10;
  background-color: #0d3629;
}

main:nth-of-type(21) {
  grid-area: mainsteps11;
  background-color: #062018;
}

main:nth-of-type(22) {
  grid-area: mainzoom11;
  background-color: #0d3629;
}

main:nth-of-type(23) {
  grid-area: mainsteps12;
  background-color: #062018;
}

main:nth-of-type(24) {
  grid-area: mainzoom12;
  background-color: #0d3629;
}

main:nth-of-type(25) {
  grid-area: mainsteps13;
  background-color: #062018;
}

main:nth-of-type(26) {
  grid-area: mainzoom13;
  background-color: #0d3629;
}

main:nth-of-type(27) {
  grid-area: mainsteps14;
  background-color: #062018;
}

main:nth-of-type(28) {
  grid-area: mainzoom14;
  background-color: #0d3629;
}

main:nth-of-type(29) {
  grid-area: mainsteps15;
  background-color: #062018;
}

main:nth-of-type(30) {
  grid-area: mainzoom15;
  background-color: #0d3629;
}

main:nth-of-type(31) {
  grid-area: mainsteps16;
  background-color: #062018;
}

main:nth-of-type(32) {
  grid-area: mainzoom16;
  background-color: #062018;
}

.categorynotes {
  font-family: 'Abril Fatface', cursive;
  font-style: normal;
  letter-spacing: 0.05em;
  font-size: 2.5em;
  padding: 2em 0.5em 0.5em 0.5em;
}

.zoom {
  border-radius: 20px;
  width: 100vw;
  height: auto;
}

.zoom img {
  border-radius: 20px;
  background: #062018;
  object-fit: cover;
  width: 100%;
}

/*VIDEO*/
.iframe-container{
  position: relative;
  width: 100%;
  height: 30vh;

}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 8% 0;;
}

/*MEDIA QUERIES*/

@media (max-width:600px) and (min-width:200px){
  p {
  font-style: normal;
  font-weight: normal;
  font-size: 1.4em;
  line-height: 1.7em;
  }
  /*INFO*/
  .boxes {
  display: block;
  width: 100%;
  text-align:center;
  }

  .box {
  width: 100%;
  text-align:center;
  }

  .vertical-line{
    display:none;
  }

  /*SCROLLBAR*/
  .wrapper {
    height: 70%;
    overflow-x: auto;
    margin: 0 1em;
  }

  .wrapper::-webkit-scrollbar {
    width: 0;
  }

  .wrapper .item {
    min-width: 40%;
    height: 40%;
    line-height: 1em;
    text-align: center;
    margin-right: 10px;
  }
}

@media (max-width: 1024px) and (min-width:601px) {

  h1 {
      font-size: 4em;
    }

  h4 {
      font-size: 2em;
      padding: 0 5% 0 5%;
    }

  h6{
      font-style: normal;
      font-weight: normal;
      font-size: 1.2em;
  }

  .lemon_icons {
    width: 50%;
  }

  .ingredir, .steps p, .zoom p {
    padding: 0 10%;
  }

  .categoryequipment, .categorynotes, .categorydirections {
    padding: 2em 10% 1.5em 10%;
  }

  .categoryequipment, .categoryingre, .categorynotes, .categorydirections {
    font-size: 3.3em;
  }

  h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.8em;
    line-height: 1.5em;
  }

  p {
  font-style: normal;
  font-weight: normal;
  font-size: 1.8em;
  line-height: 1.8em;
  }

  /*SCROLLBAR*/
  .wrapper {
    height: 75%;
  }

  /*VIDEO*/
  .iframe-container{
    position: relative;
    width: 100%;
    height: 100%;

  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }
}

@media (max-width:1083px) and (min-width:1025px){
  body {
  height:100vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas:
    "header1 header1 header2 header2"
    "sectinfo sectinfo sectinfo sectinfo"
    "sectequip sectequip sectequip sectequip"
    "sectingre sectingre sectingre sectingre"
    "mainsteps1 mainsteps1 mainzoom1 mainzoom1"
    "mainsteps2 mainsteps2 mainzoom2 mainzoom2"
    "mainsteps3 mainsteps3 mainzoom3 mainzoom3"
    "mainsteps4 mainsteps4 mainzoom4 mainzoom4"
    "mainsteps5 mainsteps5 mainzoom5 mainzoom5"
    "mainsteps6 mainsteps6 mainzoom6 mainzoom6"
    "mainsteps7 mainsteps7 mainzoom7 mainzoom7"
    "mainsteps8 mainsteps8 mainzoom8 mainzoom8"
    "mainsteps9 mainsteps9 mainzoom9 mainzoom9"
    "mainsteps10 mainsteps10 mainzoom10 mainzoom10"
    "mainsteps11 mainsteps11 mainzoom11 mainzoom11"
    "mainsteps12 mainsteps12 mainzoom12 mainzoom12"
    "mainsteps13 mainsteps13 mainzoom13 mainzoom13"
    "mainsteps14 mainsteps14 mainzoom14 mainzoom14"
    "mainsteps15 mainsteps15 mainzoom15 mainzoom15"
    "mainsteps16 mainsteps16 mainzoom16 mainzoom16";
  }

  .steps p, .zoom p {
    padding: 0 20%;
  }

  .categoryequipment, .categorynotes, .categorydirections {
    padding: 2em 20% 1.5em 20%;
  }

  .categoryequipment, .categoryingre, .categorynotes, .categorydirections {
    font-size: 2.2em;
  }

  .categoryingre {
    padding: 0em 0 1.8em 0;
  }

  .ingredir {
    column-count: 2;
    column-gap: 3%;
    padding: 5%;
  }

  h5 {
    font-size: 1em;
    line-height: 1.8em;
    padding: 0;
  }

  p {
  font-size: 1em;
  line-height: 1.8em;
  padding: 0;
  }

  /*SCROLLBAR*/
  .wrapper {
    width: 60%;
    margin-left: 20%;
  }

  .wrapper, .item {
    min-width: 50%;
    height: 60%;
  }

  .iframe-container iframe{

  }
}


/*this is a media query for our large screen sizes. It's a rule specifically for any size of browser above 1084px*/
/*
@media (min-width:1084px) {
html {
  font-size: 1vw;
}
.hero-image {
    height: 100vh;
}
}
*/
