/*variables*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html,body{
  max-width: 100%;
  margin: 0%!important;
  box-sizing: border-box;
  background-color: #062018;

  color: #F8F8F8;
  font-family: 'Poppins', sans-serif;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-areas:
    "box1"
    "box2"
    "."
    ".";
}

.box1 {
  grid-area: box1;
  padding: 5% 10% 5% 10%;
  text-align: center;
  justify-content: center;
  grid-template-rows: repeat(2, minmax(75px, auto0));
}

.box2 img {
  width: 100%;
  object-fit: cover;
  grid-template-rows: repeat(2, minmax(75px, auto0));
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(50px, 5vw, 50px);
  letter-spacing: 0.05em;
}

h4 {
  font-style: normal;
  font-weight: normal;
  font-size: clamp(20px, 2vw, 20px);
}

h6{
  font-style: normal;
  font-weight: normal;
  font-size: clamp(10px, 1vw, 26px);
}

.lemon_icons {
  width: clamp(120px, 20vw, 200px);
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 600px) {
  .grid_container { grid-template-columns: repeat(2, 1fr); }
}
