/*variables*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html,body{
  max-width: 100%;
  margin: 0%!important;
  box-sizing: border-box;
  background-color: #062018;

  color: #F8F8F8;
  font-family: 'Poppins', sans-serif;
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "box1 box2"
    ". .";
}

.box1 {
  grid-area: box1;
  height: 80vh;
  padding: 3em 8.2em 3em 8.2em;
  text-align: center;
  justify-content: center;
}

.box2 {
  grid-area: box2;
  height: 80vh;
}

.box2 img {
  min-width: 100%;
  min-height: 100%;
  display: block;
  object-fit: cover
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 3em;
  line-height: 1.2em;
  letter-spacing: 0.05em;
}

h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 1.4em;
  line-height: 1.4em;
}

h6{
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1em;
}

.lemon_icons {
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 600px) {
  .grid_container { grid-template-columns: repeat(2, 1fr); }
}
