@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

$font-stack: "Poppins", sans-serif;
$font-title: "Abril Fatface", sans-serif;
$primary-background-color: #062018;
$secondary-background-color: #0d3629;
$text-color: #f8f8f8;
$text-color-secondary: #9dc2a7;
$text-color-important: #ffe76e;
