.equipment {
    font-family: $font-stack;
    font-style: normal;
    letter-spacing: 0.05em;
    font-size: 1em;
    padding: 1em;
}

/*SCROLLBAR*/
.item-scroll-wrapper {
    display: flex;
    flex-basis:100%;
    min-width: 10em;
    width:100%;
    overflow-x: auto;

    &::-webkit-scrollbar {
        width: 0;
    }

    &::-webkit-scrollbar-track {
        background: $primary-background-color; /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb {
        background-color: $secondary-background-color; /* color of the scroll thumb */
        border-radius: 20px; /* roundness of the scroll thumb */
        border: 3px solid $secondary-background-color; /* creates padding around scroll thumb */
    }
    .item {
        min-width: 60%;
        line-height: 1.2em;
        text-align: center;
        margin-right: 10px;

        img {
            object-fit: cover;
            max-width: 100%;
            max-height: 100%;
            padding: 10% 0;
        }
    }
}

@media (min-width: 200px) and (max-width: 600px) {
    .section-equipment {
       kfont-size: 1.2em;
    }
}
